@use "src/sass/foundation/breakpoints"

.TagBar
  display: flex
  flex-wrap: wrap
  gap: 15px
  @media (max-width: breakpoints.$small-screen)
    gap: 10px
  @media (max-width: breakpoints.$tablet)
    gap: 7px
  @media (max-width: breakpoints.$mobile)
    gap: 5px