@use "src/sass/foundation/colors"
@use "src/sass/foundation/breakpoints"
@use "src/sass/foundation/mixins"

.body
  font-size: 2em
  position: fixed
  top: 0
  left: 0
  right: 0
  height: 60px
  @media (max-width: breakpoints.$small-screen)
    font-size: 1.8em
    height: 50px
  @media (max-width: breakpoints.$tablet)
    font-size: 1.6em
    height: 40px

.theme_dark
  background-color: colors.$dark-theme-2

.theme_light
  background-color: colors.$light-theme-1

.wrapper
  display: flex
  justify-content: space-between
  align-items: center

.logo
  text-transform: capitalize
  font-family: 'Edu NSW ACT Foundation', cursive
  font-size: 28px
  @include mixins.unselectable
  @media (max-width: breakpoints.$small-screen)
    font-size: 26px
  @media (max-width: breakpoints.$tablet)
    font-size: 22px
