@use "src/sass/foundation/breakpoints"

.QuestionnaireGallery
  gap: 10px
  padding-bottom: 100px
  position: relative

.viewSwitch
  position: fixed
  top: 90px
  right: 60px
  @media (max-width: breakpoints.$small-screen)
    top: 80px
    right: 50px
  @media (max-width: breakpoints.$tablet)
    top: 60px
    right: 30px
  @media (max-width: breakpoints.$mobile)
    right: 20px

.pagination
  position: absolute
  bottom: 0
  left: 0
  right: 0