@use "src/sass/foundation/colors"
@use "src/sass/foundation/breakpoints"

.body
  padding: 10px
  border-radius: 6px
  cursor: pointer
  height: max-content

.label
  margin-bottom: 0.8em

.theme_dark
  &:hover
    background-color: colors.$dark-theme-bg-highlight

.theme_light
  &:hover
    background-color: colors.$light-theme-bg-highlight
